<footer class="footergnoumba footer-large">
  <div class="container">
    <div class="row align-items-top text-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-sm-left">
        <p><strong>Gnoumba</strong></p>
        <nav class="nav flex-column">
          <a class="nav-link" href="https://www.froala.com">Bailleur</a>
          <a class="nav-link" href="https://www.froala.com">Locataire</a>
          <a class="nav-link" href="https://www.froala.com">Tips sécurité</a>
        </nav>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-left">
        <h4><strong>Média</strong></h4>
        <nav class="nav flex-column">
          <a class="nav-link" href="https://www.froala.com">PressKit</a>
          <a class="nav-link" href="https://www.froala.com">Blog</a>
        </nav>
      </div>

      <div class="col-12 col-md-4 col-lg-3 text-md-left mt-5 mt-md-0">
        <h4><strong>Contactez-nous</strong></h4>
        <nav class="nav flex-column">
          <a class="nav-link" href="https://www.froala.com">FAQ</a>
          <a class="nav-link" href="https://www.froala.com">Partenariats</a>
          <a class="nav-link" href="https://www.froala.com">Service Client</a>
        </nav>
      </div>
      <div class="col-12 col-md-4 col-lg-3 text-md-left mt-5 mt-md-0">
        <h4><strong>Mentions légales</strong></h4>
        <nav class="nav flex-column">
          <a class="nav-link" href="https://www.froala.com">Termes & Conditions</a>
        </nav>
      </div>
      <div class="col-12 col-md-4 col-lg-3 text-md-left mt-5 mt-md-0">
        <h4 class="mt-5"><strong>Feedback</strong></h4>
        <nav class="nav flex-column">
          <a class="nav-link" href="https://www.froala.com">Je donne un feedback</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
