.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}


.bouton {
  padding-top: -10px;
}


.banner-login {
  background-size: cover;
  background-position: center;
  padding: 20px 0;
}


.blockquote p {
  font-size: 50px;
  color: white;
  padding-top: 130px;
}

.blockquote-footer {
  color: white;
}
