.etapes{
  color: $black;
  margin-bottom: 50px;
  h2 {
    text-align: left;
  }
  h3 {
    color: $orange;
    text-align: left;
    padding-top: 20px;
    font-size: 22px;
    padding-bottom: 10px;
  }
  p {
    text-align: left;
  }
}
