.profil-show {
  background-color: white;
  height: 700px;
  width: 400px;
  box-shadow:
  0 2.3px 1.8px rgba(0, 0, 0, 0.012),
  0 7.8px 6px rgba(0, 0, 0, 0.018),
  0 35px 27px rgba(0, 0, 0, 0.03);
  margin-left: 110px;
  margin: 80px;
  padding: 20px;
}

.rond {
  margin-left: 110px;
}

.profil-share {
  background-color: white;
  height: 118px;
  width: 400px;
  box-shadow:
  0 2.3px 1.8px rgba(0, 0, 0, 0.012),
  0 7.8px 6px rgba(0, 0, 0, 0.018),
  0 35px 27px rgba(0, 0, 0, 0.03);
  margin-left: 90px;
  margin: 66px;
  padding: 20px;

}
